SERVER_HOSTNAME=127.0.0.1
SERVER_PORT=3000

DB_HOSTNAME=127.0.0.1
DB_PORT=27017
DB_DATABASE=node-starter
DB_USERNAME=root
DB_PASSWORD=pass

IMAGES_PATH=public/images

JWT_SECRET=null

AWS_S3_ACCESS_KEY=null
AWS_S3_SECRET_KEY=null
AWS_S3_BUCKET_NAME=null

BASE_RECAPTCHA_URL=https://www.google.com/recaptcha/api/siteverify
RECAPTCHA_SECRET_KEY=null

EMAIL_HOSTNAME=null
EMAIL_ADDRESS=null
EMAIL_PASSWORD=null
